.btn-group.pull-right
  button.btn.btn-sm.btn-primary.s-info-panel-submit(type='submit') Submit

.g-widget-metadata-header
  i.icon-play
  | Run Task

.g-widget-metadata-container
  each panel in panels
    .s-panel(class=panel.type, id=panel.id)

