.s-panel-content
    .slider.slider-horizontal
        width 90%
        margin-left 5%
        margin-right 5%
    .s-info-panel-description.well
        padding 10px
        margin-bottom 5px
        .s-info-panel-documentation-url
          margin-top 5px
